@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}
#purple div{
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 1s;
}
#purple h1{
    white-space: nowrap;
    font-size: 9vw;
    font-weight: 400;
    margin-top: 18vw;
    animation: move-rtl 8s infinite linear;
    color: black;
}

@keyframes move-rtl{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
}
.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;

    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 12vw;
    height: 2vw;
    border-radius: 20px;
    background-color: rgb(241, 199, 241);
    font-size: 1vw;
    position: relative;
    left: 3vw;
    bottom: 0.4vw;
    color: #0F0D0D;
    margin-top: 2vh;
}
.page2-right button:hover{
    background-color: black;
    color: white;
}
    

.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
    margin-left: 4vw;
    border-radius: 1.5vw;
    
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}
.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.page5 h3{
    color: grey;
}
.page5 h4{
    color: grey;
}
.page5 h4:hover{
    color: white;
}


.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #fdfbfb;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #fffbfb;

}


.footer{
    width: 100%;
    height: 150vh;
    background-color: #EDBFFF;
    padding: 6vw 6vw;
}

.footer> .upper{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 5vw;
}

.upper> .footer-text{
    font-size: 1.5vw;
    
}
.upper> .footer-text>h1{
    color: #0F0D0D;
}

.upper> .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.upper> .circle>p{
    color: #0F0D0D;
}
.circle:hover{
    background-color: #0F0D0D;
    
}
.upper> .circle>p:hover{
    color: #fdfbfd;
}


.lower{
    height: 60%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower .left{
    width: 35vw;
}

.lower .left h4{
    font-size: 1.7vw;
    font-weight: 400;
}

.lower .left input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 100%;
    height: 50px;
    font-size: 1.2vw;
    margin-top: 2.5vw;
}
.lower .left input:focus{
    outline: none;
}

.lower .left button{
    width: 8vw;
    height: 2vw;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1vw;
    position: relative;
    left: 27vw;
    bottom: 3vw;
    border: 1px solid black;
    color: #0F0D0D;
}

.lower .left p{
    margin-top: 1vw;
    color: #0F0D0D;
}

.lower h1{
    font-size: 1.7vw;
    font-weight: 400;
    color: #0F0D0D;
    padding-bottom: 4vw;
}
.lower h4{
    color: #0F0D0D;
}

.focus{
    color: white!important;
    background-color: #111!important;
    transition: all 0.2s;
    cursor: pointer;
}


/* SCroll icon */

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
  z-index: 1;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
}









